body {
	background-color: white;
}
.container {
    display: grid;
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
    grid-template-columns: 2fr 3fr 3fr 3fr;
    grid-gap: 0px;
}
.menu{
	background-color: lightgreen;
	border-style: none solid none none;
	border-width: 2px;
}
.produkt1{
	background-color: yellow;
}
.produkt2{
	background-color: orange;
}
.produkt3{
	background-color: red;
}
#a{
	padding-top: 100px;
	background-color: lightblue;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
#b{
	padding-top: 100px;
	background-color: lightblue;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
#c{
	padding-top: 100px;
	background-color: lightblue;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
.phones{
	width: 200px;
	height: auto;
}
